/* html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



:root {
    --toastify-color-info: #ffc107 !important;
    --toastify-color-success: #ffc107 !important;
}

* {
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

body {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

/* .img__important {
    object-fit: cover;
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
}
.card__important {
    position: relative;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 0;
} */

/* .card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
} */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar-collapse {
    align-items: center;
    flex-grow: 0;
}

.full-post {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    /* position: relative; */
}

.full-login {
    background-color: #fff;
    padding: 30px;
    width: 420px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2rem;
}

/* .paragraph {
    padding-top: 0px;
}
.postheader {
    padding-top: 14rem;
} */

a,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
}

.card {
    height: 100%;
}
/* .navbar {
    --bs-navbar-color: #0D6EFD;
    --bs-navbar-hover-color: #004EC2;
    --bs-navbar-brand-color: #000000;
}  */

.nav-pills .nav-link {
    margin-left: 0.3rem;
    text-align: center;
    width: 100px;
}

.nav-pills {
    padding-top: 0.5rem;
}
.nav {
    justify-content: space-between;
}

.upclick {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 4px;
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ffab0c36;
    color: #ffab0c36;
    /* border: 2px solid rgba(13,110,253, 0.2);
    color: rgba(13,110,253, 0.2); */
}

.notfound {
    height: 400px;
    display: grid;
    justify-items: center;
    align-items: center;
    /* background-color: #ccc; */
}
.notfoundheader {
    text-align: center;
}

.btn-secondary {
    background-color: #798589;
}
.btn-secondary:hover {
    background-color: #50564c;
}



.card-body {
    display: flex;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    flex-direction: column;
}

p.card-text {
    flex-grow: 1;
}

.card {
    min-height: 463px;
    /* min-height: 490px; */
}

/* .skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
} */

.fakeimage {
    margin-top: -5px;
}

.fakecardbody {
    display: flex;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    flex-direction: column;
    justify-content: space-evenly;
}

.imagelist {
    width: 150px;
    height: auto;
}

.cardheader {
    font-size: 1rem;
    font-weight: bold;
}


/* .input-group-addon{color:#ff0000; background-color: #ffffff;} */

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffab0c;
    --bs-btn-border-color: #ffab0c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f9bd4d;
    --bs-btn-hover-border-color: #f9bd4d;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f9bd4d;
    --bs-btn-active-border-color: #f9bd4d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffab0c;
    --bs-btn-disabled-border-color: #ffab0c;
}

.nav-pills {
    /* --bs-nav-pills-link-active-bg: #ffab0c; */
    --bs-nav-pills-link-active-bg: #ffaa0cbd;
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #ffab0c;
    --bs-nav-link-hover-color: #f9bd4d;
    --bs-nav-link-disabled-color: #88744c;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.Toastify__toast-theme--dark {
    background: #f87c07bf !important;
    color: var(--toastify-text-color-dark);
    /* background: #f87b07 !important; */
}

/* .delbtn {
    background-color: #C3B1A5 !important;
    border-color: #C3B1A5;
}

.delbtn:hover {
    background-color: #D3C1B1 !important;
    border-color: #D3C1B1;
} */

.toasty {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 15px 15px 15px 15px;
    width: 20rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #FF84DC;
    /* border-left: 6px solid #4070f4; */
    z-index: 9999;
}
.toasty .toasty-content {
    display: flex;
    align-items: center;
}
.toasty-content .bi-check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #FF84DC;
    /* background-color: #4070f4; */
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
}
.toasty-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message .toasty-text {
    font-size: 1.05rem;
    font-weight: 400;
    color: #666666;
}
.message .toasty-text.text-1 {
    font-weight: 600;
    color: #333;
}
.toasty .toasty-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.toasty .toasty-close:hover {
    opacity: 1;
}

.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: none;
     /* border-top: var(--bs-card-border-width) solid var(--bs-card-border-color); */
}

.text-muted {
    --bs-text-opacity: 1;
    color: #7f8b95cf!important;
    font-size: 14px;
}

/* @media (min-width: 950px) {
    .upclick {
        right: 130px;
    }
} */
/* .cardtitle {
    padding-top: 80px;
} */

/* .toast-message-new {
} */

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    display: none;
}

@media (min-width: 1024px) {
    .upclick {
        right: 50px;
    }
}

@media (min-width: 768px) {
.row-cols-md-2>* {
    flex: 0 0 auto;
    width: 50% !important;
    /* width: 33.3% !important; */
}

}

@media (min-width: 1440px) {
    .row-cols-md-2>* {
        flex: 0 0 auto;
        width: 33.3% !important;
    }
}

@media (max-width: 450px) {
    .header {
    display: flex;
    padding: 15px 0;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    /* display: flex;
    padding: 15px 0;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between; */
    }
    .nav-pills .nav-link {
        margin-left: 0;
        text-align: center;
        width: 100px;
    }
    .nav-pills {
        display: none;
    }
    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        display: block;
    }

    .mobilemenunone {
        display: none !important;
    }

    .header-small {
        padding: 0 16px !important;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        /* padding-right: calc(var(--bs-gutter-x) * .5); */
        /* padding-left: calc(var(--bs-gutter-x) * .5); */
        margin-right: auto;
        margin-left: auto;
    }
    .full-login {
        background-color: #fff;
        padding: 30px;
        width: 350px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .g-4, .gx-4 {
        --bs-gutter-x: 0 !important;
    }
}
